@*
  Author: Alexander Dulemba
  Copyright 2023
*@

@page "/privacy"

<div id="page-container">
  <h1>Wisehat Privacy Policy</h1>
  <h3>Terms of Use</h3>
  <p>
    Wisehat was created as a sample project by Alexander Dulemba for the purposes of 
    being a master's thesis project. This is a showcase of various concepts and technologies,
    and thus this is not a full-fledged website-building tool. For example, logging in 
    to use the wesbite is a proof of concept that many modern websites use today. This
    website project does not collect any user data and does not sell or benefit off of 
    any information on it. It is stricly a thesis project that happens to be on the public
    Internet.
    <br />
    <br />
    If you ended up on this project's website and created an account, you may not see an
    option to delete that account. If you desire to do so, please reach out for support. 
  </p>
</div>

@code {

}
