// Author: Alexander Dulemba
// Copyright 2023

@import "../../wwwroot/theme.scss";

#page-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: $cinereous;

  > h1 {
    font-size: 2.4rem;
  }

  > h3 {
    font-size: 1.2rem;
    margin: 8px 0 12px 0;
  }

  > p {
    width: 50%;
    text-align: center;
  }
}