/* SCSS HEX */
/* SCSS HSL */
/* SCSS RGB */
/* SCSS Gradient */
#title {
  margin-left: 16px;
  color: rgb(43, 69, 112);
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  width: 20%;
  background-color: transparent;
  border: none;
  outline: none;
}
#title::placeholder {
  color: rgb(43, 69, 112);
}
#title:hover {
  border-bottom: 1px solid rgb(43, 69, 112);
}
#title:focus {
  border: 1px solid rgb(43, 69, 112);
}

#page-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#page-container > #widget-options-menu {
  margin: 4px 4px 0px 4px;
  width: 100%;
  height: 40px;
  background-color: rgb(168, 208, 219);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#page-container > #widget-options-menu > #save-btn {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  cursor: pointer;
}
#page-container > #widget-options-menu > #save-btn > svg {
  fill: rgb(43, 69, 112);
}
#page-container > #widget-options-menu > #save-btn > #save-indicator {
  transform: scale(0.8);
}
#page-container > #widget-options-menu > #clear-canvas-btn {
  margin-right: 8px;
  cursor: pointer;
}
#page-container > #widget-options-menu > #clear-canvas-btn:hover {
  color: red;
  font-weight: 600;
}
#page-container > #widget-sidebar {
  margin: 4px;
  width: 12%;
  height: calc(100% - 8px - 40px);
  background-color: rgb(168, 208, 219);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#page-container > #widget-sidebar > #sidebar-title {
  padding: 8px;
  width: calc(100% - 16px);
  height: 40px;
  font-size: 1.6rem;
}
#page-container > #widget-sidebar > #widgets {
  width: 100%;
  height: calc(100% - 56px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#page-container > #widget-sidebar > #widgets > .widget-preview-container {
  width: 96%;
  height: 144px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#page-container > #widget-sidebar > #widgets > .widget-preview-container > h2 {
  margin: 0px;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
}
#page-container > #widget-sidebar > #widgets > .widget-preview-container > .widget-preview {
  width: 88%;
  height: 50%;
  border-radius: 4px;
  background-color: rgb(228, 146, 115);
  display: flex;
  justify-content: center;
  align-items: center;
}
#page-container > #widget-sidebar > #widgets > .widget-preview-container > .widget-preview:hover {
  cursor: grab;
}
#page-container > #widget-sidebar > #widgets > .widget-preview-container > #fillbox-widget {
  height: 44%;
}
#page-container > #widget-sidebar > #widgets > .widget-preview-container > #textbox-widget {
  height: 44%;
}
#page-container > #widget-sidebar > #widgets > .widget-preview-container > #imagebox-widget {
  height: 60%;
}
#page-container > #widget-sidebar > #widgets > .widget-preview-container > #imagebox-widget > img {
  transform: scale(0.15);
}
#page-container > #widget-sidebar > #widgets > .widget-preview-container > #videobox-widget {
  height: 60%;
}
#page-container > #canvas {
  margin-right: 4px;
  width: calc(88% - 12px);
  height: calc(100% - 8px - 40px);
  border-radius: 8px;
  background-color: white;
  background-size: calc((88% - 12px - 48px) / 26) calc((88% - 12px - 24px) / 16);
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
  position: relative;
}
#page-container > #context-menu {
  border: 1px solid rgb(113, 128, 172);
  border-radius: 4px;
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 188px;
  height: 188px;
}
#page-container > #context-menu > .menu-btn {
  padding: 4px;
  width: calc(100% - 8px);
  border-bottom: 1px solid rgb(113, 128, 172);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: white;
}
#page-container > #context-menu > .menu-btn:first-of-type {
  border-radius: 4px 4px 0 0;
}
#page-container > #context-menu > .menu-btn:first-of-type:hover {
  filter: brightness(1);
}
#page-container > #context-menu > .menu-btn:last-of-type {
  border-bottom: none;
  border-radius: 0 0 4px 4px;
}
#page-container > #context-menu > .menu-btn:hover {
  filter: brightness(0.8);
}
#page-container > #context-menu > #fill-color-container {
  height: calc(25% - 8px);
}
#page-container > #context-menu > #fill-color-container:hover {
  filter: none;
  cursor: initial;
}
#page-container > #context-menu > #border-style-container {
  height: calc(55% - 8px);
  flex-direction: column;
  align-items: flex-start;
}
#page-container > #context-menu > #border-style-container > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#page-container > #context-menu > #border-style-container > #border-thickness-style-container > input {
  width: 25%;
  margin-left: 30px;
}
#page-container > #context-menu > #border-style-container:hover {
  filter: none;
  cursor: initial;
}
#page-container > #context-menu > #widget-delete-btn {
  height: calc(20% - 8px);
}
