/* SCSS HEX */
/* SCSS HSL */
/* SCSS RGB */
/* SCSS Gradient */
.project-listing-container {
  padding: 8px;
  height: 36px;
  width: calc(100% - 16px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(163, 122, 116);
  border-bottom: none;
}
.project-listing-container:last-of-type {
  border-bottom: 1px solid rgb(163, 122, 116);
}
.project-listing-container > .project-listing-name {
  width: 33%;
  font-size: 1.6rem;
  color: rgb(168, 208, 219);
}
.project-listing-container > .project-listing-last-modified {
  width: 34%;
  text-align: center;
  font-size: 1.2rem;
  color: rgb(168, 208, 219);
}
.project-listing-container > .project-listing-quick-controls {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.project-listing-container > .project-listing-quick-controls > p {
  text-decoration: none;
  color: rgb(168, 208, 219);
  cursor: pointer;
}
.project-listing-container > .project-listing-quick-controls > p:first-of-type {
  margin-right: 32px;
}
