/* SCSS HEX */
/* SCSS HSL */
/* SCSS RGB */
/* SCSS Gradient */
html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

body {
  padding: 0px;
  margin: 0px;
}

::-webkit-scrollbar {
  width: 12px;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: rgb(113, 128, 172);
}

::-webkit-scrollbar-thumb {
  background: rgb(43, 69, 112);
  border-radius: 6px;
  border: 1px solid rgb(228, 146, 115);
}

#blazor-error-ui {
  padding: 12px;
  height: 20px;
  width: calc(100% - 24px);
  background-color: #cf4040;
  position: sticky;
  margin-top: -44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
#blazor-error-ui a:first-of-type {
  flex: 1 0 auto;
}

.dismiss {
  cursor: pointer;
}
