// Author: Alexander Dulemba
// Copyright 2023

@import "theme.scss";

html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

body {
  padding: 0px;
  margin: 0px;
}

::-webkit-scrollbar {
  width: 12px;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: $glaucous;
}

::-webkit-scrollbar-thumb {
  background: $marian-blue;
  border-radius: 6px;
  border: 1px solid $atomic-tangerine;
}

#blazor-error-ui {
  $padding: 12px;
  padding: $padding;
  height: calc(44px - (2 * $padding));
  width: calc(100% - (2 * $padding));
  background-color: #cf4040;
  position: sticky;
  margin-top: -44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;

  a:first-of-type {
    flex: 1 0 auto;
  }
}

.dismiss {
  cursor: pointer;
}