// Author: Alexander Dulemba
// Copyright 2023

@import "../../wwwroot/theme.scss";

#page-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  header {
    width: 100%;
    height: 60px;
    background-color: $glaucous;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > #title {
      margin-left: 16px;
      color: $marian-blue;
      font-size: 2rem;
      font-weight: 600;
      text-decoration: none;
      width: 20%;
      background-color: transparent;
      border: none;
      outline: none;

      &::placeholder {
        color: $marian-blue;
      }

      &:hover {
        border-bottom: 1px solid $marian-blue;
      }

      &:focus {
        border: 1px solid $marian-blue;
      }
    }

    > svg {
      margin-left: 8px;
      color: $marian-blue;

      &:hover {
        cursor: pointer;
      }
    }
  }

  main {
    background-color: $marian-blue;
    height: 743px;
  }
}
