/* SCSS HEX */
/* SCSS HSL */
/* SCSS RGB */
/* SCSS Gradient */
#page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#page-container header {
  width: 100%;
  height: 60px;
  background-color: rgb(113, 128, 172);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#page-container header > #title {
  margin-left: 16px;
  color: rgb(43, 69, 112);
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  width: 20%;
  background-color: transparent;
  border: none;
  outline: none;
}
#page-container header > #title::placeholder {
  color: rgb(43, 69, 112);
}
#page-container header > #title:hover {
  border-bottom: 1px solid rgb(43, 69, 112);
}
#page-container header > #title:focus {
  border: 1px solid rgb(43, 69, 112);
}
#page-container header > svg {
  margin-left: 8px;
  color: rgb(43, 69, 112);
}
#page-container header > svg:hover {
  cursor: pointer;
}
#page-container main {
  background-color: rgb(43, 69, 112);
  height: 743px;
}
