@using System.Diagnostics
@using Wisehat.Domain.Commands.WebProjects
@using MediatR
@inject ISender Sender
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.SignalR.Client
@inherits LayoutComponentBase

<CascadingValue Value="this">
  <div id="page-container">
    <header>
      <SectionOutlet SectionName="project-title" />
      <AccessControl />
    </header>
    <main>
      @Body
    </main>
  </div>
</CascadingValue>

@code {
  internal string Title { get; set; } = "Wisehat";

  internal Guid ProjectId { get; set; }

  private string? CurrentTitle { get; set; }
}
