@inherits LayoutComponentBase

<PageTitle>Wisehat.Web</PageTitle>

<div id="page-container">
  <header>
    <a id="title" href="/">Wisehat</a>
    <AccessControl />
  </header>
  <main>
    @Body
  </main>
  <footer>
    <span>Wisehat</span>
    <span>Copyright &copy; 2023 Alexander Dulemba</span>
    <a href="/privacy">Privacy Policy</a>
  </footer>
</div>
