@inherits LayoutComponentBase

<PageTitle>Wisehat.Web</PageTitle>

<div id="page-container">
  <header>
    <a id="title" href="/">Wisehat</a>
    <AccessControl />
  </header>
  <main>
    @Body
  </main>
  <footer>
    <div>Some legal stuff</div>
  </footer>
</div>
